#principal {
    
    color:#fff;
    text-align: left;
}    .prin {
        width: 33.333%;
        height: 150px;
        display: inline;
}

    .principal1 {
        background-color:#51b2ee;
    }
    .principal2{
        background-color: #51b2ee;
    }
    .principal3 {
        background-color: #51b2ee;
    }

#menu{
    background-image: url();
    background-repeat: no-repeat;
}